footer#contact
  h2 Get in Touch
  .row
    .col-lg-4.col-6.contact
      h6 Dribbble
      h6 Behance
      h6 CodePen
      h6 GitHub
      h6 Medium
    .col-lg-4.col-6
      h6 LinkedIn
      h6 Facebook
      h6 Instagram
      h6 Twitter
    .col-lg-4.col-12
      h6 seyrig@mailme.com
      h6 + 55 6645 665544
  a(href='#navigation-start')
    img(src='./images/ChevronUp(E70E).png', alt='point-up')