header.header
  .background
    nav#navigation-start.navbar.navbar-expand-md
      .container-fluid
        a.nav-button(href='#')
          img(src='./images/GlobalNavButton(E700).png')
        a.navbar-brand.text-white.logo(href='#') Portofolio
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.nav-menu.justify-content-between
            li.nav-item
              a.nav-link.fw-bold(aria-current='page', href='#') Home
            li.nav-item
              a.nav-link(href='#about') About
            li.nav-item
              a.nav-link(href='#skills') Skills
            li.nav-item
              a.nav-link(href='#portfolio') Portfolio
            li.nav-item
              a.nav-link(href='#contact') Contact
    .header-text.conteiner-fluid.text-white
      h2.fw-light Hi, It&rsquo;s Th&eacute;ophile Seyrig
      h4.fw-light Designer from Porto, Portugal
      h5.fw-light.text-decoration-underline Latest works