section#portfolio.portfolio
  h2 Portfolio
  h5 UX Research
  .row.justify-content-between
    .col-lg-4
      .portfolio-content
        p.text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac dictum nibh nam odio cursus
          | id. Diam massa semper a tincidunt cursus ultricies lectus eget urna.
        .nav-point
          img(src='./images/ChevronLeft(E76B).png', alt='point-left')
          img(src='./images/ChevronRight(E76C).png', alt='point-right')
    .wrapper.col-lg-7
      .rectangle1
      .rectangle2
      .rectangle3
      .rectangle4