section#skills.skills
  h2 Skills
  .row.justify-content-between
    .col-lg-4.col-12
      img.skills-image(src='./images/Profile Picture.jpg', alt='profile picture')
    table.col-lg-7.col-12
      thead
        tr
          th Profile
          th.fw-light UI / UX Engineer, Front-end Developer
      tbody
        tr
          td UX Research
          td
            .progress
              .progress-bar(role='progressbar', style='width: 85.4%', aria-valuenow='100%', aria-valuemin='0', aria-valuemax='100')
        tr
          td Tools
          td.fw-light Paper, Pen, Balsamiq
        tr
          td UI Design
          td
            .progress
              .progress-bar(role='progressbar', style='width: 78%', aria-valuenow='100%', aria-valuemin='0', aria-valuemax='100')
        tr
          td Tools
          td.fw-light Adobe PS, AI, XD, Figma, InVision
        tr
          td Front-end Dev
          td
            .progress
              .progress-bar(role='progressbar', style='width: 64%', aria-valuenow='100%', aria-valuemin='0', aria-valuemax='100')
        tr
          td Tools
          td.fw-light HTML, CSS, JS, Bootstrap, React
